* {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
html,
body {
  color: #333;
  font-family: 'Crimson Roman';
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}
main,
#disqus_thread {
  max-width: 50rem;
  margin: 0 auto;
  padding: 1em;
}
header,
footer {
  text-align: center;
  padding: 0em;
  font-size: 1.5em;
  background-color: #222;
  width: 100%;
}
header h1,
footer h1 {
  padding: 16px;
  margin: 0;
}
header a,
footer a {
  margin: 8px;
  color: #d33;
  text-decoration: none;
}
@media (max-width: 480px) {
  header,
  footer {
    font-size: 1em;
  }
}
#comments {
  background-color: #eee;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  border-sizing: border-box;
  display: none;
  width: 100%;
}
.flex-row,
.flex-column,
.flex-images {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
}
.flex-row,
.flex-images {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-column {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-cell,
.flex-images div {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
}
.flex-images {
  margin: 0px;
  padding: 0px;
}
.flex-images div {
  margin-right: 8px;
  margin-bottom: 2px;
}
img {
  padding: 0px;
  max-width: 100%;
  border: solid 2px #111;
  margin: 0 auto;
}
header a:hover,
header a:focus,
footer a:hover,
footer a:focus {
  color: #eee;
  text-decoration: none;
}
a {
  -webkit-transition: 0.2s color linear;
  -moz-transition: 0.2s color linear;
  -o-transition: 0.2s color linear;
  -ms-transition: 0.2s color linear;
  transition: 0.2s color linear;
  color: #d33;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #333;
  text-decoration: underline;
}
#comments {
  padding: 1.5rem;
  font-size: 2em;
  text-align: center;
}
h1,
h2,
h3,
h4,
header {
  font-family: 'League Gothic Regular';
  font-weight: normal;
  text-transform: uppercase;
  width: 100%;
}
article h1,
article h2,
article h3,
article h4 {
  margin-bottom: 0px;
}
ul > li {
  list-style: disc;
  margin-left: 0em;
  position: relative;
  left: -1em;
}
article h1 {
  font-size: 1.7em;
  margin-top: 1.8em;
}
article h2 {
  margin-top: 1.5em;
}
article h3 {
  margin-top: 1.4em;
}
article h4 {
  margin-top: 1.1em;
}
article p,
article li {
  font-size: 1.3em;
}
article p > code {
  font-size: 0.9em;
  background-color: #eee;
}
article code {
  font-size: 1.2em;
}
article ul,
article li {
  margin-left: 0;
}
.posts {
  font-size: 1.3em;
}
pre {
  background-color: #eee;
  padding: 8px;
  position: relative;
  margin-bottom: 1.25em;
  border: solid 0.2rem #222;
}
.article-title {
  font-size: 2.5em;
}
.date {
  font-style: italic;
  width: 100%;
}
.footnotes {
  font-size: 0.7em;
  width: 100%;
}
.footnotes hr {
  border-style: dashed;
  border-top-width: 1px;
  border-color: #eee;
}
.posts > li {
  list-style: none;
}
.sourceCode {
  overflow-x: auto;
}
.sourceCode.Coffeescript > code {
  color: #333;
}
#wrapper {
  color: #223;
  font-family: 'Crimson Roman';
  padding: 32px;
}
.MathJax {
  font-size: 200% !important;
}
.MathJax_Display {
  width: 100% !important;
  margin: -0.5em !important;
}
#social {
  -ms-flex-line-pack: end;
  -webkit-align-content: flex-end;
  align-content: flex-end;
  -webkit-box-flex: 20;
  -moz-box-flex: 20;
  -o-box-flex: 20;
  box-flex: 20;
  -webkit-flex: 20 20;
  -ms-flex: 20 20;
  flex: 20 20;
  position: relative;
  left: 40px;
  padding: 16px;
}
#license {
  min-width: 80px;
  font-size: 0.5em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0;
  -ms-flex: 1 0;
  flex: 1 0;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
}
#license a {
  margin: 0;
}
blockquote {
  background-color: #eee;
  margin: 0;
  padding: 1em;
  font-style: italic;
}
blockquote p {
  margin: 0em;
}
