@import 'nib'

*
	box-sizing: border-box !important

html, body
	color       : #333
	font-family : 'Crimson Roman'
	margin      : 0
	padding     : 0
	width       : 100%
	min-height  : 100vh

main, #disqus_thread
	max-width : 50rem
	margin    : 0 auto
	padding   : 1em

header, footer
	text-align       : center
	padding          : 0em
	font-size        : 1.5em

	background-color : #222
	width            : 100%

	h1
		padding : 16px
		margin  : 0
	a
		margin          : 8px
		color           : #D33
		text-decoration : none

@media (max-width: 480px)
	header, footer
		font-size: 1em

#comments
	background-color : #EEE
	opacity          : 0
	border-sizing    : border-box
	display          : none
	width            : 100%

.flex-row, .flex-column, .flex-images
	display         : flex
	justify-content : space-between
	align-items     : center
	align-content   : center

.flex-row
	flex-direction: row

.flex-column
	flex-direction: column

.flex-cell
	flex       : 1 1 auto
	align-self : center

.flex-images
	@extend .flex-row
	margin  : 0px
	padding : 0px
	div
		@extend .flex-cell
		margin-right  : 8px
		margin-bottom : 2px

img
	padding   : 0px
	max-width : 100%
	border    : solid 2px #111
	margin    : 0 auto

header a:hover, header a:focus, footer a:hover, footer a:focus
	color: #EEE
	text-decoration: none

a
	transition      : 0.2s color linear
	color           : #D33
	text-decoration : none

a:hover, a:focus
	color           : #333
	text-decoration : underline

#comments
	padding: 1.5rem
	font-size: 2em
	text-align: center

h1, h2, h3, h4, header
	font-family    : 'League Gothic Regular'
	font-weight    : normal
	text-transform : uppercase
	width          : 100%

article
	h1, h2, h3, h4
		margin-bottom: 0px

ul > li
	list-style  : disc
	margin-left : 0em
	position    : relative
	left        : -1em

article
	h1
		font-size  : 1.7em
		margin-top : 1.8em

	h2
		margin-top: 1.5em

	h3
		margin-top: 1.4em

	h4
		margin-top: 1.1em

	p, li
		font-size : 1.3em

	p > code
		font-size        : 0.9em
		background-color : #EEE

	code
		font-size: 1.2em

	ul, li
		margin-left: 0

.posts
	font-size: 1.3em

pre
	background-color : #EEE
	padding          : 8px
	position         : relative
	margin-bottom    : 1.25em
	border           : solid 0.2rem #222

.article-title
	font-size : 2.5em

.date
	font-style : italic
	width      : 100%

.footnotes
	font-size : 0.7em
	width     : 100%
	hr
		border-style     : dashed
		border-top-width : 1px
		border-color     : #EEE

.posts > li
	list-style: none

.sourceCode
	overflow-x: auto

.sourceCode.Coffeescript > code
	color: #333

#wrapper
	color       : #223
	font-family : 'Crimson Roman'
	padding     : 32px

.MathJax
	font-size: 200% !important

.MathJax_Display
	width  : 100% !important
	margin : -0.5em !important

#social
	align-content : flex-end
	flex          : 20 20
	position      : relative
	left          : 40px
	padding       : 16px

#license
	min-width      : 80px
	font-size      : 0.5em
	display        : flex
	flex           : 1 0
	flex-direction : column
	align-content  : center
	align-self     : center
	a
		margin: 0

blockquote
	background-color : #EEE
	margin           : 0
	padding          : 1em
	font-style       : italic
	p
		margin: 0em