html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.u-textTruncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.u-textBreak {
  word-break: break-word;
  word-wrap: break-word;
}
.u-textCenter {
  text-align: center;
}
.u-textLeft {
  text-align: left;
}
.u-textRight {
  text-align: right;
}
.u-isHidden {
  display: none !important;
  visibility: hidden !important;
}
.u-isHiddenVisually {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}
.u-isVisible {
  visibility: visible;
}
.u-isInvisible {
  visibility: hidden;
}
.u-isActionable {
  cursor: pointer;
}
.u-isDraggable {
  cursor: move;
}
.u-isDisabled {
  cursor: default;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
.u-smaller {
  font-size: 0.85em;
}
.u-bigger {
  font-size: 1.2em;
}
.u-spaceAN {
  margin: 0 !important;
}
.u-spaceVN {
  margin-bottom: 0 !important;
}
.u-spaceVN,
.u-spaceTN {
  margin-top: 0 !important;
}
.u-spaceRN {
  margin-right: 0 !important;
}
.u-spaceBN {
  margin-bottom: 0 !important;
}
.u-spaceLN {
  margin-left: 0 !important;
}
.u-spaceAS {
  margin: 0.5em !important;
}
.u-spaceVS {
  margin-bottom: 0.5em !important;
}
.u-spaceVS,
.u-spaceTS {
  margin-top: 0.5em !important;
}
.u-spaceRS {
  margin-right: 0.5em !important;
}
.u-spaceBS {
  margin-bottom: 0.5em !important;
}
.u-spaceLS {
  margin-left: 0.5em !important;
}
.u-spaceAM {
  margin: 1em !important;
}
.u-spaceVM {
  margin-bottom: 1em !important;
}
.u-spaceVM,
.u-spaceTM {
  margin-top: 1em !important;
}
.u-spaceRM {
  margin-right: 1em !important;
}
.u-spaceBM {
  margin-bottom: 1em !important;
}
.u-spaceLM {
  margin-left: 1em !important;
}
.u-spaceAL {
  margin: 2em !important;
}
.u-spaceVL {
  margin-bottom: 2em !important;
}
.u-spaceVL,
.u-spaceTL {
  margin-top: 2em !important;
}
.u-spaceRL {
  margin-right: 2em !important;
}
.u-spaceBL {
  margin-bottom: 2em !important;
}
.u-spaceLL {
  margin-left: 2em !important;
}
.u-faint {
  color: #808080;
}
.u-full {
  width: 100% !important;
}
.u-full,
.u-1of2 {
  -webkit-box-flex: none;
  -webkit-flex: none !important;
  -moz-box-flex: none;
  -ms-flex: none !important;
  flex: none !important;
}
.u-1of2 {
  width: 50% !important;
}
.u-1of3 {
  width: 33.3333% !important;
}
.u-1of3,
.u-2of3 {
  -webkit-box-flex: none;
  -webkit-flex: none !important;
  -moz-box-flex: none;
  -ms-flex: none !important;
  flex: none !important;
}
.u-2of3 {
  width: 66.6667% !important;
}
.u-1of4 {
  width: 25% !important;
}
.u-1of4,
.u-3of4 {
  -webkit-box-flex: none;
  -webkit-flex: none !important;
  -moz-box-flex: none;
  -ms-flex: none !important;
  flex: none !important;
}
.u-3of4 {
  width: 75% !important;
}
@media (min-width:24em) {
  .u-small-full {
    width: 100% !important;
  }
  .u-small-full,
  .u-small-1of2 {
    -webkit-box-flex: none;
    -webkit-flex: none !important;
    -moz-box-flex: none;
    -ms-flex: none !important;
    flex: none !important;
  }
  .u-small-1of2 {
    width: 50% !important;
  }
  .u-small-1of3 {
    width: 33.3333% !important;
  }
  .u-small-1of3,
  .u-small-2of3 {
    -webkit-box-flex: none;
    -webkit-flex: none !important;
    -moz-box-flex: none;
    -ms-flex: none !important;
    flex: none !important;
  }
  .u-small-2of3 {
    width: 66.6667% !important;
  }
  .u-small-1of4 {
    width: 25% !important;
  }
  .u-small-1of4,
  .u-small-3of4 {
    -webkit-box-flex: none;
    -webkit-flex: none !important;
    -moz-box-flex: none;
    -ms-flex: none !important;
    flex: none !important;
  }
  .u-small-3of4 {
    width: 75% !important;
  }
}
@media (min-width:36em) {
  .u-med-full {
    width: 100% !important;
  }
  .u-med-full,
  .u-med-1of2 {
    -webkit-box-flex: none;
    -webkit-flex: none !important;
    -moz-box-flex: none;
    -ms-flex: none !important;
    flex: none !important;
  }
  .u-med-1of2 {
    width: 50% !important;
  }
  .u-med-1of3 {
    width: 33.3333% !important;
  }
  .u-med-1of3,
  .u-med-2of3 {
    -webkit-box-flex: none;
    -webkit-flex: none !important;
    -moz-box-flex: none;
    -ms-flex: none !important;
    flex: none !important;
  }
  .u-med-2of3 {
    width: 66.6667% !important;
  }
  .u-med-1of4 {
    width: 25% !important;
  }
  .u-med-1of4,
  .u-med-3of4 {
    -webkit-box-flex: none;
    -webkit-flex: none !important;
    -moz-box-flex: none;
    -ms-flex: none !important;
    flex: none !important;
  }
  .u-med-3of4 {
    width: 75% !important;
  }
}
@media (min-width:48em) {
  .u-large-full {
    width: 100% !important;
  }
  .u-large-full,
  .u-large-1of2 {
    -webkit-box-flex: none;
    -webkit-flex: none !important;
    -moz-box-flex: none;
    -ms-flex: none !important;
    flex: none !important;
  }
  .u-large-1of2 {
    width: 50% !important;
  }
  .u-large-1of3 {
    width: 33.3333% !important;
  }
  .u-large-1of3,
  .u-large-2of3 {
    -webkit-box-flex: none;
    -webkit-flex: none !important;
    -moz-box-flex: none;
    -ms-flex: none !important;
    flex: none !important;
  }
  .u-large-2of3 {
    width: 66.6667% !important;
  }
  .u-large-1of4 {
    width: 25% !important;
  }
  .u-large-1of4,
  .u-large-3of4 {
    -webkit-box-flex: none;
    -webkit-flex: none !important;
    -moz-box-flex: none;
    -ms-flex: none !important;
    flex: none !important;
  }
  .u-large-3of4 {
    width: 75% !important;
  }
}
.Grid {
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.Grid-cell {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.Grid--flexCells>.Grid-cell {
  display: flex;
}
.Grid--top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.Grid--bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.Grid--center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.Grid-cell--top {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.Grid-cell--bottom {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.Grid-cell--center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.Grid--fit>.Grid-cell {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.Grid--full>.Grid-cell {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}
.Grid--1of2>.Grid-cell {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}
.Grid--1of3>.Grid-cell {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.3333%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%;
}
.Grid--1of4>.Grid-cell {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
}
@media (min-width:24em) {
  .small-Grid--fit>.Grid-cell {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .small-Grid--full>.Grid-cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .small-Grid--1of2>.Grid-cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
  .small-Grid--1of3>.Grid-cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
  }
  .small-Grid--1of4>.Grid-cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
  }
}
@media (min-width:36em) {
  .med-Grid--fit>.Grid-cell {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .med-Grid--full>.Grid-cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .med-Grid--1of2>.Grid-cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
  .med-Grid--1of3>.Grid-cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
  }
  .med-Grid--1of4>.Grid-cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
  }
}
@media (min-width:48em) {
  .large-Grid--fit>.Grid-cell {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .large-Grid--full>.Grid-cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .large-Grid--1of2>.Grid-cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
  .large-Grid--1of3>.Grid-cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
  }
  .large-Grid--1of4>.Grid-cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
  }
}
.Grid--gutters {
  margin-left: -1em;
}
.Grid--gutters>.Grid-cell {
  padding-left: 1em;
}
.Grid--guttersLarge {
  margin-left: -1.5em;
}
.Grid--guttersLarge>.Grid-cell {
  padding-left: 1.5em;
}
.Grid--gutters2x {
  margin-left: -2em;
}
.Grid--gutters2x>.Grid-cell {
  padding-left: 2em;
}
.Grid--gutters3x {
  margin-left: -3em;
}
.Grid--gutters3x>.Grid-cell {
  padding-left: 3em;
}
@media (min-width:24em) {
  .small-Grid--gutters {
    margin-left: -1em;
  }
  .small-Grid--gutters>.Grid-cell {
    padding-left: 1em;
  }
  .small-Grid--guttersLarge {
    margin-left: -1.5em;
  }
  .small-Grid--guttersLarge>.Grid-cell {
    padding-left: 1.5em;
  }
  .small-Grid--gutters2x {
    margin-left: -2em;
  }
  .small-Grid--gutters2x>.Grid-cell {
    padding-left: 2em;
  }
  .small-Grid--gutters3x {
    margin-left: -3em;
  }
  .small-Grid--gutters3x>.Grid-cell {
    padding-left: 3em;
  }
}
@media (min-width:36em) {
  .med-Grid--gutters {
    margin-left: -1em;
  }
  .med-Grid--gutters>.Grid-cell {
    padding-left: 1em;
  }
  .med-Grid--guttersLarge {
    margin-left: -1.5em;
  }
  .med-Grid--guttersLarge>.Grid-cell {
    padding-left: 1.5em;
  }
  .med-Grid--gutters2x {
    margin-left: -2em;
  }
  .med-Grid--gutters2x>.Grid-cell {
    padding-left: 2em;
  }
  .med-Grid--gutters3x {
    margin-left: -3em;
  }
  .med-Grid--gutters3x>.Grid-cell {
    padding-left: 3em;
  }
}
@media (min-width:48em) {
  .large-Grid--gutters {
    margin-left: -1em;
  }
  .large-Grid--gutters>.Grid-cell {
    padding-left: 1em;
  }
  .large-Grid--guttersLarge {
    margin-left: -1.5em;
  }
  .large-Grid--guttersLarge>.Grid-cell {
    padding-left: 1.5em;
  }
  .large-Grid--gutters2x {
    margin-left: -2em;
  }
  .large-Grid--gutters2x>.Grid-cell {
    padding-left: 2em;
  }
  .large-Grid--gutters3x {
    margin-left: -3em;
  }
  .large-Grid--gutters3x>.Grid-cell {
    padding-left: 3em;
  }
}
.Site {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}
.Site-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  padding: 1.5em;
  -ms-flex-preferred-size: auto;
}
@media (min-width:48em) {
  .Site-content {
    padding-top: 2em;
  }
}
.Container {
  max-width: 50rem;
  margin: 0 auto;
}
.Footer {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.5rem;
  background: #404040;
  color: #999;
  font-size: 0.85em;
  text-align: center;
}
.Aligner {
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 24em;
}
.Aligner-item {
  max-width: 50%;
}
.Aligner-item--top {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.Aligner-item--bottom {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
