<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>
			Damián Franco Álvarez's blog - $title$
		</title>

		$metaKeywords$
		<link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Damián Franco Álvarez's blog - ATOM Feed">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
		<link rel="stylesheet" type="text/css" href="/css/fontfaces.css" />
		<link rel="stylesheet" type="text/css" href="/css/font-awesome.css" />
		<link rel="stylesheet" type="text/css" href="/css/default.css" />

		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-42041306-1']);
			_gaq.push(['_trackPageview']);
			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>

	</head>
	<body class="flex-column">
		<header>
				<h1>
					<a id="home" href="/">Damián Franco Álvarez's blog</a>
				</h1>
		</header>
		<main class="flex-cell">
			$body$
		</main>
		<div id="comments">
			<div id="disqus_thread">
				<script type="text/javascript">
					/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
						if (/posts/.test(window.location.toString()))
						{
							document.getElementById("comments").style.display = "block"
							var disqus_shortname = 'blog-damianfral'; // required: replace example with your forum shortname
							 /* * * DON'T EDIT BELOW THIS LINE * * */
							(function() {
								var dsq = document.createElement('script');
								dsq.type = 'text/javascript';
								dsq.async = true;
								dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
								(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
							})();

							document.getElementById("comments").style.opacity = "1"
						};

				</script>
			</div>
		</div>

		<footer class="flex-row">
			<div id="social" class="flex-cell">
				<a href="https://twitter.com/pamojarpan">
					<i class="icon-twitter"></i>
				</a>
				<a href="https://github.com/damianfral"><i class="icon-github"></i></a>
				<a href="http://www.linkedin.com/profile/view?id=201155207"><i class="icon-linkedin"></i></a>
				<a href="http://feeds.feedburner.com/damianfral-blog">
					<i class="icon-rss"></i>
				</a>
			</div>
			<a id="license" class="flex-cell" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
					<img alt="Creative Commons License" style="border-width:0" src="http://mirrors.creativecommons.org/presskit/buttons/80x15/svg/by-sa.svg" />
				</a>
		</footer>
		<script src="/js/custom.modernizr.js" />
		<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

	</body>

</html>